<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
    <body>
        <header class="page-header">
            <div class="header-logo"><h2 class="logo-head">SAF | PORTFOLIO</h2></div>
            <div class="links-user"><div class="link-enter"><p class="enter"><a href="#">Войти</a></p></div>
                <div class="link-registration"><p class="registration"><a href="#">Регистрация</a></p></div></div>
        </header>
        <main>
            <section class="main-section">
                <div class="quote-join"><p class="quote"> "Ваши успехи.<br>
                    Наша платформа.<br>
                    Создавайте.<br>
                    Выделяйтесь."</p>
                    <p class="join"><a href="#">Присоединиться</a></p></div>
                <div class="photo-1"><img src="img/hands-photo.jpg" class="hands-photo" width="946" height="518" alt="Фото рукопожатия"></div>
            </section>
            <section class="pluses">
                <ul class="ul-pluses">
                    <li class="plus-item-1"><b>Бесплатный доступ</b><br>
                        И никакого пробного периода.</li>
                    <li class="plus-item-2"><b>Онлайн-формат</b><br>
                        Ищите и создавайте портфолио в<br>
                        любой точке земного шара</li>
                    <li class="plus-item-3"><b>Находи работу быстрее</b><br>
                        Быстрый отклик от работодателей</li>
                </ul>
            </section>
            <section class="conveniences">
                <h1 class="main-logo">SAF | PORTFOLIO - это</h1>
                <div class="conveniences-item-1">
                    <div><h3 class="h-filters">Удобный поиск по фильтрам</h3>
                        <ul class="list-conveniences">
                            <li class="list-conveniences-item">1. Эффективность: Позволяет пользователям быстро находить нужное содержимое, сокращая время поиска.</li>
                            <li class="list-conveniences-item">2. Персонализация: Пользователи могут настроить фильтры в соответствии с их конкретными потребностями и предпочтениями.</li>
                            <li class="list-conveniences-item">3. Точность: Позволяет точно определить требуемые характеристики, чтобы сузить поиск до наиболее подходящих вариантов.</li>
                        </ul></div>
                    <img src="img/magnifier-photo.png" class="magnifier-photo" width="631" height="410" alt="Фото лупы">
                </div>
                <div class="conveniences-item-2">
                    <div><h3 class="h-interface">Понятный интерфейс</h3>
                        <ul class="list-interface">
                            <li class="list-interface-item">1. Простота использования: Интуитивно понятный интерфейс делает взаимодействие с сайтом более простым и удобным для пользователей всех уровней навыков.</li>
                            <li class="list-interface-item">2. Привлечение новых пользователей: Удобство использования сайта может стать привлекательным фактором для новых работодателей и повысить их заинтересованность в ваших услугах.</li>
                        </ul></div>
                    <img src="img/inter-photo.jpg" class="inter-photo" width="567" height="380">
                </div>
                <div class="what"></div>
            </section>
        </main>
        <footer class="page-footer">
            <p class="join-footer"><a href="#">Присоединиться</a></p>
        </footer>
    </body>
</html>
