<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="style-myportfolio.css" rel="stylesheet">
    </head>
    <body>
    <header class="page-header">
        <div class="header-logo"><h2 class="logo-head">SAF | PORTFOLIO</h2></div>
        <div class="header-item"><p class="head-item"><a href="#">Мои портфолио</a></p></div>
        <div class="header-item"><p class="head-item"><a href="#">Добавить портфолио</a></p></div>
        <div class="header-item-find"><p class="head-item"><a href="#"><img src="img/magnifer-mini-photo.png" width="34" height="34" class="photo-1" padding-top="70">Поиск</a></p></div>
        <div class="header-item-user"><p class="head-item-user"><a href="#"><img src="img/user-photo.png" class="head-item-user-photo" width="89" height="89"></a></p></div>
    </header>
    <main>
        <section class="add-progress">
            <p class="add-text">Добавьте ваши достижения</p>
            <form class="form-progress">
                <textarea type="text" class="add"></textarea>
            </form>
            <div class="button-continue"><button type="button" class="button">Добавить файл<img src="img/plus-photo.png" width="35" height="30"></button></div>
        </section>
        <section class="tell-progress">
            <p class="tell-text">Расскажите о ваших достижениях</p>
            <form class="form-tell-progress">
                <textarea type="text"  class="tell"></textarea>
            </form>
        </section>
        <section class="tell-experience">
            <p class="tell-text">Расскажите о вашем опыте работы</p>
            <form class="form-experience">
                <input type="text" class="experience">
            </form>
        </section>
    </main>
    </body>
</html>