<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="style-registration.css" rel="stylesheet">
</head>
<body>
<header class="page-header">
    <div class="header-logo"><h2 class="logo-head"><a href="/">SAF | PORTFOLIO</a></h2></div>
    <div class="links-user"><div class="link-enter"><p class="enter"><a href="/signin">Войти</a></p></div>
        <div class="link-registration"><p class="registration"><a href="/registration">Регистрация</a></p></div></div>
</header>
<main>
    <section class="window-registration">
        <div class="window-registration-item class-name">
            <p class="registration-item-1">Имя</p>
            <form class="name-form">
                <input type="text" class="item-form name">
            </form>
        </div>
        <div class="window-registration-item class-surname">
            <p class="registration-item-1">Фамилия</p>
            <form class="name-form">
                <input type="text" class="item-form surname">
            </form>
        </div>
        <div class="window-registration-item class-phone">
            <p class="registration-item-1">Телефон</p>
            <form class="name-form">
                <input type="text" class="item-form phone">
            </form>
        </div>
        <div class="window-registration-item class-mail">
            <p class="registration-item-1">Электрронная почта</p>
            <form class="name-form">
                <input type="text" class="item-form mail">
            </form>
        </div>
        <div class="window-registration-item class-password">
            <p class="registration-item-1">Пароль</p>
            <form class="name-form">
                <input type="text" class="item-form password">
            </form>
        </div>
        <div class="button-continue"><button type="button" class="button">Продолжить</button></div>
    </section>
</main>
    </body>
</html>
