<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <link href="style-enter.css" rel="stylesheet">
    </head>
    <body>
        <header class="page-header">
            <div class="header-logo"><h2 class="logo-head"><a href="/">SAF | PORTFOLIO</a></h2></div>
            <div class="links-user"><div class="link-enter"><p class="enter"><a href="/signin">Войти</a></p></div>
                <div class="link-registration"><p class="registration"><a href="/registration">Регистрация</a></p></div></div>
        </header>
        <main>
            <section class="window-enter">
                <div class="class-email">
                    <p class="email-enter">Электронная почта или телефон:  </p>
                    <form class="email">
                        <input type="text" class="mail">
                    </form></div>
                <div class="class-password">
                    <p class="password-enter">Пароль: </p>
                    <form class="f-password">
                        <input type="text" class="password">
                    </form></div>
                <div class="button-continue"><button type="button" class="button">Продолжить</button></div>
            </section>
        </main>
    </body>
</html>
