.window-enter{
    background-color: white;
    border: 3px solid black;
    width: 1000px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.mail{
    background-color: rgba(217, 217, 217, 0.54);
    width: 300px;
    height: 61px;
    border: none;
    font-size: 30px;
}

.class-email{
    display:flex;
    margin-top: 128px;
    border: 1px solid black;
    width: 675px;
    margin: auto;
    margin-top: 128px;
}

.email-enter{
    margin: 0;
    background-color: rgba(217, 217, 217, 0.54);
    width: 370px;
    height: 63px;
    font-size: 30px;
}

.class-password{
    display:flex;
    margin-top: 41px;
    border: 1px solid black;
    width: 675px;
    margin: auto;
    margin-top: 41px;
}

.password-enter{
    margin: 0;
    background-color: rgba(217, 217, 217, 0.54);
    width: 370px;
    height: 63px;
    font-size: 30px;
}

.password{
    background-color: rgba(217, 217, 217, 0.54);
    width: 570px;
    height: 61px;
    border: none;
    font-size: 30px;
}


.button{
    background-color: #369BF9;
    color: white;
    width: 400px;
    height: 51px;
    font-size: 30px;
    font-family: "Oswald";
}

.button-continue{
    width: 400px;
    margin: auto;
    padding: auto;
    margin-top: 68px;
}

.button:hover{
    background-color: rgba(54, 155, 249, 0.5);
}

.button:active{
    background-color: rgb(10, 34, 184);
}

