.window-registration{
    background-color: white;
    border: 3px solid black;
    width: 1100px;
    height: 808px;
    margin-left: auto;
    margin-right: auto;
}

.item-form{
    background-color: rgba(217, 217, 217, 0.54);
    width:620px;
    height: 61px;
    border: none;
    font-size: 30px;
}

.surname{
    width: 560px;
}

.phone{
    width: 560px;
}

.mail{
    width: 440px;
}

.password{
    width: 580px;
}

.window-registration-item{
    display:flex;
    margin-top: 128px;
    border: 1px solid black;
    width: 675px;
    margin: auto;
    margin-top: 128px;
}

.class-name{
    margin-top: 90px;
}

.class-surname{
    margin-top: 57px;
}

.class-phone{
    margin-top: 65px;
}

.class-mail{
    margin-top: 65px;
}

.class-password{
    margin-top: 60px;
}

.registration-item-1{
    margin: 0;
    background-color: rgba(217, 217, 217, 0.54);
    width: 370px;
    height: 63px;
    font-size: 30px;
}

.button{
    background-color: #369BF9;
    color: white;
    width: 400px;
    height: 51px;
    font-size: 30px;
    font-family: "Oswald";
}

.button-continue{
    width: 400px;
    margin: auto;
    padding: auto;
    margin-top: 40px;
}

.button:hover{
    background-color: rgba(54, 155, 249, 0.5);
}

.button:active{
    background-color: rgb(10, 34, 184);
}