body{
    margin: 0;
    padding: 0;
    font-family: "Oswald";
}

.page-header{
    position: fixed;
    left: 0; right: 0;
    top: 0;
    display: flex;
    height: 162px;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 100px;
    background-color: #D4DCE5;
}

.header-logo{
    margin: 45px 65px;
}

.logo-head{
    display: inline;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    width: 289px;
    height: 81px;
    font-weight: 500;
    font-size: 45px;
    padding: 5px;
}

.links-user{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 77px;
}

.enter a{
    color: #000000;
    margin-right: 10px;
    position: relative;
    top: 0;
    right: 0;
    display: inline;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    text-decoration: none;
    padding: 5px 10px;
}

.registration a{
    display: inline;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #000000;
    font-size: 30px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

main{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 261px;
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 675px;
    background: rgba(61, 248, 225, 0.6);
    border: 3px solid black;
    border-radius: 85px;
    margin-top: 100px;
    margin-bottom: 90px;
}

.quote{
    font-size: 64px;
    font-weight: 500;
    margin-top: 37px;

    margin-right: 0;
    margin-bottom: 100px;
    width: 570px;
}

.join a{
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
    color: #000000;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
}

.quote-join{
    margin-left: 85px;
}

.hands-photo{
    margin: 59px 154px 98px;
}

.pluses{
    background: rgba(61, 248, 225, 0.32);
    border: 3px solid rgba(61, 248, 225, 0.32);
    border-radius: 85px;
    border: none;
    height: 292px;
    margin-bottom: 100px;
}

.ul-pluses{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    font-size: 36px;
    margin-left: 85px;
    margin-right: 76px;
}

.plus-item-1{
    margin-top: 80px;
}

.plus-item-2{
    margin-top: 66px;
}

.plus-item-3{
    margin-top: 72px;
}

.main-logo{
    font-size: 128px;
    font-weight: 700;
    margin-bottom: 40px;
}

.conveniences-item-1{
    background-color: rgba(217, 217, 217, 0.54);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 480px;
    margin-bottom: 41px;
}

.h-filters{
    font-size: 52px;
    font-weight: 500;
    margin-top: 27px;
    margin-left: 49px;
    margin-bottom: 21px;
}

.list-conveniences{
    list-style: none;
    font-size: 36px;
    font-weight: 400;
    width: 1062px;
    height: 318px;
    margin-top: 0;
    margin-left: 60px;
    margin-right: 23px;
    text-indent: -30px;
}

.magnifier-photo{
    margin-left: 0;
    margin-top: 27px;
    margin-right: 35px;
    margin-right: 37px;
}

.conveniences-item-2{
    background-color: rgba(217, 217, 217, 0.54);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 480px;
    margin-bottom: 41px;
}

.h-interface{
    font-size: 52px;
    font-weight: 500;
    margin-top: 27px;
    margin-left: 58px;
    margin-bottom: 21px;
}

.list-interface{
    list-style: none;
    font-size: 36px;
    font-weight: 400;
    width: 1149px;
    height: 318px;
    margin-top: 0;
    margin-left: 60px;
    margin-right: 0;
    text-indent: -30px;
}

.inter-photo{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-right: 37px;
}

.what{
    height: 472px;
    margin-bottom: 70px;
    background-color: rgba(217, 217, 217, 0.54);
}

.join-footer a{
    border: 3px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
    color: #000000;
    font-size: 40px;
    text-decoration: none;
    width: 255px;

}

.page-footer{
    width: 255px;
    margin-left: auto;
    margin-right: auto;
}